// Uses custom font,
// then adds a fallback to bootstrap defaults
@font-family-ruda: "Ruda", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-montserrat: "Montserrat", @font-family-ruda;

@font-family-sans-serif: @font-family-ruda;
@headings-font-family: @font-family-montserrat;
@headings-font-weight: 400;

@border-radius-base: 2px;